Repository ayukrish/react-redux-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --fix, stylelint --syntax scss --fix

adding checks on commit
  .huskyrc
  package.json
Due: none

adding jest
  .gitignore
  .huskyrc
  config/CSSStub.js
  config/enzyme.config.js
  jest.config.js
  package-lock.json
  package.json
  src/containers/TestComponent/test/TestComponent.test.js
  src/containers/TestComponent/test/__snapshots__/TestComponent.test.js.snap
  src/containers/TestComponent/test/actions.test.js
  src/containers/TestComponent/test/reducer.test.js
Due: eslint . --fix

adding jest
  package-lock.json
  package.json
Due: none

adding prepush check
  .huskyrc
Due: none

adding test cases
  .huskyrc
  src/components/ErrorBoundary/test/ErrorBoundary.test.js
  src/components/ErrorBoundary/test/__snapshots__/ErrorBoundary.test.js.snap
  src/components/Footer/test/Footer.test.jsx
  src/components/Footer/test/__snapshots__/Footer.test.jsx.snap
  src/components/Header/test/Header.test.jsx
  src/components/Header/test/__snapshots__/Header.test.jsx.snap
  src/components/TestComponent/test/TestComponent.test.jsx
  src/components/TestComponent/test/__snapshots__/TestComponent.test.jsx.snap
Due: eslint . --fix

adding selectors
  package-lock.json
  package.json
  src/containers/TestComponent/TestComponent.jsx
  src/containers/TestComponent/selectors.js
  src/containers/TestComponent/test/TestComponent.test.js
  src/containers/TestComponent/test/actions.test.js
  src/containers/TestComponent/test/reducer.test.js
  webpack.config.js
Due: eslint . --fix

Create README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

adding title
  src/index.html
Due: none

chore: adding linting rules and formatting code
  .stylelintrc
  README.md
  package-lock.json
  package.json
Due: none

chore: adding linting rules and formatting code
  .eslintignore
  .prettierignore
  .prettierrc
  .vscode/settings.json
Due: none

chore: adding linting rules and formatting code
  .vscode/settings.json
Due: none

feat: minor config and css changes
  config/webpack/webpack.common.js
  src/index.scss
Due: stylelint --syntax scss --fix

chore: updating service file
  package-lock.json
  package.json
  src/service.js
Due: eslint . --fix

chore: updating service file
  .huskyrc
  package.json
Due: none

chore: updating service file
  src/service.js
Due: eslint . --fix

feat: changing Component to PureComponent
  src/components/Characters/index.jsx
  src/components/Episodes/index.jsx
  src/components/Locations/index.jsx
Due: eslint . --fix

chore: changes in webpack config
  .gitignore
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
  package.json
Due: none

chore: changes in webpack config
  config/webpack/webpack.prod.js
Due: none

config changes
  config/webpack/webpack.prod.js
Due: none

chore: config changes
  config/webpack/webpack.common.js
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
  package-lock.json
  src/components/Characters/index.jsx
Due: eslint . --fix

chore: minor config changes
  config/webpack/webpack.prod.js
Due: none

Path conditions:
  eslint . --fix: any of: src/**/*.{js,jsx}
  stylelint --syntax scss --fix: any of: src/**/*.scss
